<div class="grid-header">
  <button (click)="onChangeModeClick('sprite')">Sprite</button>
  <button (click)="onChangeModeClick('level')">Level</button>
</div>
<div *ngIf="mode === 'sprite'" class="grid-container sprite">
  <div class="grid-left">
    <explorer-component #explorerComponentImages [component]="explorerElementComponent" [root]="'C:/Users/Floyd/OneDrive/Documenti/GitHub/PKMN/projects/game/src/assets/sprites'" [name]="'images'" [extensions]="['png']" (onSelectElement)="onExplorerComponentImagesSelectElement($event)"></explorer-component>
    <explorer-component #explorerComponentJSONs [component]="explorerElementJSONsComponent" [root]="'C:/Users/Floyd/OneDrive/Documenti/GitHub/PKMN/projects/game/src/assets/sprites'" [name]="'jsons'" [extensions]="['json']" (onSelectElement)="onExplorerComponentJSONsSelectElement($event)" (onSelectSprite)="onExplorerComponentJSONsSelectSprite($event)"></explorer-component>
  </div>
  <div class="grid-center-right">
    <option-component #optionComponent [explorerComponentImagesSelectElement]="explorerComponentImagesSelectElement" [explorerComponentJSONsSelectElement]="explorerComponentJSONsSelectElement" [explorerComponentJSONsSelectSprite]="explorerComponentJSONsSelectSprite"></option-component>
  </div>
</div>
<div *ngIf="mode === 'level'" class="grid-container level">
  <div class="grid-left">
    <explorer-component #explorerComponentImages [component]="explorerElementComponent" [root]="'C:/Users/Floyd/OneDrive/Documenti/GitHub/PKMN/projects/game/src/assets/sprites'" [name]="'images'" [extensions]="['png']" (onSelectElement)="onExplorerComponentImagesSelectElement($event)"></explorer-component>
    <explorer-component #explorerComponentJSONs [component]="explorerElementJSONsComponent" [root]="'C:/Users/Floyd/OneDrive/Documenti/GitHub/PKMN/projects/game/src/assets/sprites'" [name]="'jsons'" [extensions]="['json']" (onSelectElement)="onExplorerComponentJSONsSelectElement($event)" (onSelectSprite)="onExplorerComponentJSONsSelectSprite($event)"></explorer-component>
  </div>
  <div class="grid-center-right">
    <option-component #optionComponent [explorerComponentImagesSelectElement]="explorerComponentImagesSelectElement" [explorerComponentJSONsSelectElement]="explorerComponentJSONsSelectElement" [explorerComponentJSONsSelectSprite]="explorerComponentJSONsSelectSprite"></option-component>
  </div>
</div>