.grid-container {
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  display: grid;
  grid-gap: 1px;
  grid-template-areas:
    'left-top center-right center-right center-right'
    'left-bottom center-right center-right center-right';

  >div {
    background-color: rgba(255, 255, 255, 0.8);
  }

  >div.grid-left-top {
    grid-area: left-top;
  }

  >div.grid-left-bottom {
    grid-area: left-bottom;
  }

  >div.grid-center-right {
    grid-area: center-right;
  }
}
