.explorer-element-option-sprite-component {
  >span {
    margin-left: 10px;
  }

  >div.elements-container {
    margin-left: 10px;

    >div.explorer-element-option-sprite {
      margin-left: 25px;

      &.state-selected {
        >span.element-sprite {
          background-color: yellow;
        }
      }

      >div.explorer-element-option-image {
        margin-left: 25px;

        &.state-selected {
          >span.element-sprite {
            background-color: yellow;
          }
        }
      }
    }
  }

  &.type-directory,
  &.type-file {
    &.state-opened {
      &>span.element-symbol {
        background-color: green;
      }
    }

    &.state-closed {
      &>span.element-symbol {
        background-color: red;
      }

      >div.elements-container {
        visibility: hidden;
        height: 0;
      }
    }
  }

  &.type-file {
    &.state-selected {
      >span.element-name {
        background-color: yellow;
      }
    }
  }

  &.type-unknown {
    &>span.element-symbol {
      background-color: blue;
    }
  }

  &.state-invisible {
    visibility: hidden;
    height: 0;
  }
}
