<div class="explorer-element-option-sprite-component" [ngClass]="{ 'type-directory': type === 'directory', 'type-file': type === 'file', 'type-unknown': type === 'unknown', 'state-opened': opened, 'state-closed': !opened, 'state-selected': selected, 'state-deselected': !selected, 'state-visible': visible, 'state-invisible': !visible }">
    <span class="element-symbol" (click)="onOpenOrCloseElement()">{{ (type === 'directory' || type === 'file') ? (opened ? '-' : '+') : ((type === 'unknown') ? '?' : ' ') }}</span>
    <span class="element-name" (click)="onSelectElement(this)">{{ name }}</span>
    <div class="elements-container">
        <explorer-element-option-sprite-component *ngFor="let element of elements" [parent]="this" [name]="element.name" [type]="element.type" [extensions]="extensions" (onSelectElement)="onSelectElement($event)" (onSelectImage)="onSelectImage($event)"></explorer-element-option-sprite-component>
        <div *ngFor="let sprite of sprites" class="explorer-element-option-sprite">
            <span class="element-sprite">{{ '[' + sprite.type + '] - ' + sprite.name }}</span>
            <div *ngFor="let image of sprite.images" class="explorer-element-option-image" [ngClass]="{ 'state-selected': image.selected, 'state-deselected': !image.selected }">
                <span class="element-sprite" (click)="onSelectSpriteUI(sprite, image)">{{ image.name }}</span>
            </div>
        </div>
    </div>
</div>