<div class="option-container">
    <div class="option-left">
        <option-canvas-component [explorerComponentImagesSelectElement]="explorerComponentImagesSelectElement" [optionDraw]="optionDraw"></option-canvas-component>
    </div>
    <div class="option-right">
        <option-block-component #block [explorerComponentJSONsSelectSprite]="explorerComponentJSONsSelectSprite" (onOpenOrCloseOption)="onOpenOrCloseOption($event)" (onSaveOption)="onSaveOption()" (onOptionDataChange)="onOptionDataChange($event)" (onOptionDrawChange)="onOptionDrawChange($event)"></option-block-component>
        <option-preview-component [optionData]="optionData"></option-preview-component>
    </div>
</div>