.option-container {
  width: 100%;
  height: 100%;
  display: flex;

  >div.option-left {
    display: flex;
    flex-grow: 1;

    >* {
      flex-grow: 1;
    }
  }

  >div.option-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >* {
      flex-grow: 1;
    }
  }
}
