<div class="level-config-container">
    <button class="button-save" [disabled]="error" (click)="onSaveLevel()">Save</button>
    <label><span>name</span><input type="text" [(ngModel)]="name" (ngModelChange)="update()"></label>
    <label><span>sprite_width</span><input type="number" [(ngModel)]="levelUI.config.sprite_width" (ngModelChange)="update()"></label>
    <label><span>sprite_height</span><input type="number" [(ngModel)]="levelUI.config.sprite_height" (ngModelChange)="update()"></label>
    <label><span>level_width</span><input type="number" [(ngModel)]="levelUI.config.level_width" (ngModelChange)="update()"></label>
    <label><span>level_height</span><input type="number" [(ngModel)]="levelUI.config.level_height" (ngModelChange)="update()"></label>
    <label *ngFor="let input of inputsSelected; let i = index"><span>{{ 'index_' + i }}</span><button (click)="onInputSet(input, i)">Set</button><button (click)="onInputRemove(input, i)">Remove</button><span>{{ input.option?.id }}</span></label>
    <span class="error">{{ error }}</span>
</div>