<div class="option-block-container">
    <button class="button-open-close" (click)="onOpenOrCloseOption()">{{ opened ? 'Close' : 'Open' }}</button>
    <button class="button-save" [disabled]="error" (click)="onSaveOption()">Save</button>
    <label><span>name</span><input type="text" [(ngModel)]="name" (ngModelChange)="update()"></label>
    <label><span>sprite_width</span><input type="number" [(ngModel)]="optionUI.sprite_width" (ngModelChange)="update()"></label>
    <label><span>sprite_height</span><input type="number" [(ngModel)]="optionUI.sprite_height" (ngModelChange)="update()"></label>
    <label><span>block_width</span><input type="number" [(ngModel)]="optionUI.block_width" (ngModelChange)="update()"></label>
    <label><span>block_height</span><input type="number" [(ngModel)]="optionUI.block_height" (ngModelChange)="update()"></label>
    <label *ngFor="let cell of optionUI.cells; let i = index"><span [ngClass]="{ 'state-selected': cell.selected }" (click)="onCellSelectedChange(cell, i)">{{ 'index_' + i }}</span><input type="text" [(ngModel)]="cell.suffix" (ngModelChange)="update()"></label>
    <span class="error">{{ error }}</span>
</div>