.explorer-element-component {
  >span {
    margin-left: 10px;
  }

  >div.elements-container {
    margin-left: 10px;
  }

  &.state-closed {
    div.elements-container {
      visibility: hidden;
      height: 0;
    }
  }

  &.state-selected {
    >span.element-name {
      background-color: yellow;
    }
  }
}
